$black: #000000;
$white: #ffffff;

$green: #24ba63;
$yellow: #ffcd03;
$red: #f74b39;
$blue: #2081c1;

$darkGray: #3f4748;
$gray: #95999b;
$silver: #e3e6e7;
$gray-border: #c2c2c2;

$numbers-color: #454c4d;
$typo-color: #7f8c8d;
$typo-unactive-color: #bdc3c7;